:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.style .attribute {
  line-height: 0px;
  text-align: center;
  color: rgba(0, 0, 0, 0.45);
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 8px;
  border: 1px dashed rgb(217, 217, 217);
  margin-top: 16px;}